* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 770px;
    max-height: 370px;
}

.flex {
    display: flex;
    margin: 0;
}
.image-article {
    width: 100%;
    margin-left: -40px;
}

.flex .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-left: -40px;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 2.25em;
    color: #666666;
    margin: 0;
    margin-bottom: 0.625em;
}

.description {
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #666666;
    width: 100%;
    height: 100px;
    margin: 0;
}

.colors {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 50px;
}

.colors img:nth-child(3) {
    padding: 0;
    margin: 0;
}
.colors img {
    margin: 0;
    padding: 5px;
}

.price {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2.25em;
    color: #666666;
 padding-left: 30px;
 padding-right: 30px;
}

.button-cart {
    min-width: 135px;
    height: 42px;
    background: #88c9f6 0% 0% no-repeat padding-box;
    border-radius: 6px;
    border: none;
    opacity: 1;
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
    font-size: 0.875em;
    color: #666666;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

.slider {
    margin: 0;
    padding: 2px;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
}

.container2 div:nth-child(2) {
    display: flex;
    flex-direction: row;
    width: 33%;
}
.container2 div:nth-child(1) {
    padding-left: 107px;
}